In [68]:
import pandas as pd
import numpy as np

In [69]:
df1=pd.read_csv('Prediction.csv')
df1.head()

,DATE,Month,RAKE NO.,RAKE TO,COMMODITY,IMWB READING,TOTAL WAGONS LOADED,SICK WAGONS,ELECTRIC LOCO DECOUPLING (FROM),ELECTRIC LOCO DECOUPLING (TO),...,ACTUAL TIME TAKEN FOR LOADING,ACTUAL TIME TAKEN FOR LOADING (Hrs),ACTUAL TIME TAKEN FOR LOADING (Mins),TRIMMING DURATION AT THE TIME OF LOADING,TIME TAKEN FOR TRACK CLEANING,RLS FAULT DURATION,MANUAL LOADING DURATION,TIME TAKEN FOR WAGON REPAIR,TIME TAKEN FOR FILLING UP THE SILO,Load per wagon
0,07-May-11,5,16,"TSL,JSR",COAL NEWZEALAND,3373.54,59,0.0,0.53,0.53,...,0.08,1,57,0.00,0.02,0.00,0.00,0.02,0.02,57.18
1,09-May-11,5,17,"TSL,JSR",COAL SS IPC,3468.67,59,0.0,0.22,0.22,...,0.02,0,35,0.01,0.00,0.13,0.00,0.03,0.07,58.79
2,11-May-11,5,18,"TSL,JSR",COAL SS IPC,3341.74,58,1.0,0.42,0.42,...,0.3,7,7,0.00,0.03,0.00,0.00,0.00,0.00,57.62
3,12-May-11,5,19,"TSL,JSR",COAL SS IPC/NEWZEALAND/OAKY NORTH,3364.20,59,0.0,0.64,0.64,...,0.13,3,3,0.00,0.02,0.01,0.08,0.00,0.05,57.02
4,13-May-11,5,1,HALDIA,COAL-OAKY NORTH,3391.11,57,2.0,0.60,0.60,...,0.07,1,38,0.00,0.00,0.00,0.00,0.08,0.02,59.49

In [70]:
total_rows = df1.shape[0]
total_rows

1517

In [72]:
missing_values = df1.isna().sum()
print(missing_values)

DATE                                           0
Month                                          0
RAKE NO.                                       0
RAKE TO                                        0
COMMODITY                                      1
IMWB READING                                   1
TOTAL WAGONS LOADED                            0
SICK WAGONS                                    4
ELECTRIC LOCO DECOUPLING (FROM)                0
ELECTRIC LOCO DECOUPLING (TO)                  0
DIESEL LOCO COUPLING (TO)                      7
DIESEL LOCO COUPLING DURATION                  2
HAULING START                                  7
TIME DELAY TO START HAULING                    2
ARRIVAL AT WCS/IMWB                            7
duration to wcs                                2
WAGON CLEANING START                           0
WAGON CLEANING COMPLETE                        0
WAGON CLEANING DURATION                        0
SURVEYOR CLEARANCE START                       0
SURVEYOR CLEARANCE COMPLETE                    0
SURVEYOR CLEARANCE DURATION                    2
RAKE PLACEMENT AT RLS/IMWB                     0
RAKE PLACEMENT DURATION AT RLS                 0
RAKE LOADING START                             0
TIME DELAY TO START LOADING                    0
RAKE LOADING FINISH                            1
RAKE LOADING DURATION                          0
TRIMMING START                                 3
TRIMMING COMPLETE                              3
TRIMMING DURATION                              6
ARRIVAL AT IMWB                                3
ARRIVAL AT DTY                                 3
TIME TAKEN FROM IMWB TO DTY                    2
TIME TAKEN FROM IMWB TO DTY (Hrs)              2
TIME TAKEN FROM IMWB TO DTY (Min)              2
DIESEL LOCO DECOUPLING (FROM)                  3
DIESEL LOCO DECOUPLING (TO)                    3
DIESEL LOCO DECOUPLING DURATION                2
TOTAL TURNAROUND TIME                          3
TOTAL TURNAROUND TIME (Hrs)                    2
TOTAL TURNAROUND TIME (Mins)                   2
ACTUAL TIME TAKEN FOR LOADING                  0
ACTUAL TIME TAKEN FOR LOADING (Hrs)            0
ACTUAL TIME TAKEN FOR LOADING (Mins)           0
TRIMMING DURATION AT THE TIME OF LOADING     376
TIME TAKEN FOR TRACK CLEANING                400
RLS FAULT DURATION                           401
MANUAL LOADING DURATION                      414
TIME TAKEN FOR WAGON REPAIR                  409
TIME TAKEN FOR FILLING UP THE SILO           415
Load per wagon                                 0
dtype: int64

In [73]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df1['RAKE TO NUM'] = label_encoder.fit_transform(df1['RAKE TO'])
df1['COMMODITY TO NUM'] = label_encoder.fit_transform(df1['COMMODITY'])
df1

,DATE,Month,RAKE NO.,RAKE TO,COMMODITY,IMWB READING,TOTAL WAGONS LOADED,SICK WAGONS,ELECTRIC LOCO DECOUPLING (FROM),ELECTRIC LOCO DECOUPLING (TO),...,ACTUAL TIME TAKEN FOR LOADING (Mins),TRIMMING DURATION AT THE TIME OF LOADING,TIME TAKEN FOR TRACK CLEANING,RLS FAULT DURATION,MANUAL LOADING DURATION,TIME TAKEN FOR WAGON REPAIR,TIME TAKEN FOR FILLING UP THE SILO,Load per wagon,RAKE TO NUM,COMMODITY TO NUM
0,07-May-11,5,16,"TSL,JSR",COAL NEWZEALAND,3373.54,59,0.0,0.53,0.53,...,57,0.00,0.02,0.00,0.00,0.02,0.02,57.18,41,43
1,09-May-11,5,17,"TSL,JSR",COAL SS IPC,3468.67,59,0.0,0.22,0.22,...,35,0.01,0.00,0.13,0.00,0.03,0.07,58.79,41,45
2,11-May-11,5,18,"TSL,JSR",COAL SS IPC,3341.74,58,1.0,0.42,0.42,...,7,0.00,0.03,0.00,0.00,0.00,0.00,57.62,41,45
3,12-May-11,5,19,"TSL,JSR",COAL SS IPC/NEWZEALAND/OAKY NORTH,3364.20,59,0.0,0.64,0.64,...,3,0.00,0.02,0.01,0.08,0.00,0.05,57.02,41,46
4,13-May-11,5,1,HALDIA,COAL-OAKY NORTH,3391.11,57,2.0,0.60,0.60,...,38,0.00,0.00,0.00,0.00,0.08,0.02,59.49,12,47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1512,27-May-12,5,13,Adani Enterprises,Steam Coal,3660.24,57,2.0,0.59,0.59,...,#REF!,0.00,0.00,0.00,0.00,0.00,0.01,64.21,3,250
1513,27-May-12,5,3,VISA RESOURCES,NON COKING,3212.83,57,2.0,0.67,0.67,...,#REF!,0.00,0.00,0.00,0.15,0.00,0.02,56.37,51,192
1514,27-May-12,5,1,Adhunik Alloys,NON COKING,3458.44,59,0.0,0.71,0.71,...,#REF!,0.00,0.00,0.00,0.21,0.00,0.00,58.62,4,192
1515,27-May-12,5,37,"TSL,JSR",JELLINBAH PCI/CURRAGH HCC,3408.65,56,3.0,0.74,0.74,...,#REF!,0.00,0.00,0.00,0.00,0.00,0.03,60.87,41,157
1516,27-May-12,5,14,Adani Enterprises,Steam Coal,3662.81,59,0.0,0.83,0.83,...,#REF!,0.00,0.00,0.00,0.00,0.00,0.01,62.08,3,250

In [74]:
total_rows = df1.shape[0]
total_rows

1517

In [75]:
total_rows1 = df1.shape[1]
total_rows1

54

In [76]:
total_labels1 = df1['RAKE TO NUM'].nunique()

print("Total number of RAKE TO label-encoded values:", total_labels1)
total_labels2 = df1['COMMODITY TO NUM'].nunique()

print("Total number of COMMODITY label-encoded values:", total_labels2)

count_encoded_values1 = df1['RAKE TO NUM'].value_counts()

print(count_encoded_values1)

count_encoded_values2 = df1['COMMODITY TO NUM'].value_counts()

print(count_encoded_values2)

Total number of RAKE TO label-encoded values: 56
Total number of COMMODITY label-encoded values: 256
RAKE TO NUM
41    542
40    155
6      95
44     80
34     74
8      65
52     61
17     51
3      36
29     35
22     31
42     30
45     23
10     22
55     22
49     14
33     14
54     12
14     12
48     10
32      9
51      9
9       9
23      9
1       8
15      7
12      7
36      6
27      5
50      5
31      5
26      5
2       4
11      4
16      4
5       3
38      3
0       3
13      3
47      3
25      3
4       2
30      2
53      2
37      2
35      1
7       1
20      1
43      1
28      1
18      1
19      1
46      1
24      1
39      1
21      1
Name: count, dtype: int64
COMMODITY TO NUM
192    316
248    153
133    113
84      84
10      54
      ...
93       1
62       1
170      1
229      1
85       1
Name: count, Length: 256, dtype: int64

In [83]:
df1['DATE'] = pd.to_numeric(df1['DATE'], errors='coerce')
df1['Load per wagon'] = pd.to_numeric(df1['Load per wagon'], errors='coerce')

df1['ACTUAL TIME TAKEN FOR LOADING'] = pd.to_numeric(df1['ACTUAL TIME TAKEN FOR LOADING'], errors='coerce')
df1['ACTUAL TIME TAKEN FOR LOADING (Hrs)'] = pd.to_numeric(df1['ACTUAL TIME TAKEN FOR LOADING (Hrs)'], errors='coerce')
df1['ACTUAL TIME TAKEN FOR LOADING (Mins)'] = pd.to_numeric(df1['ACTUAL TIME TAKEN FOR LOADING (Mins)'], errors='coerce')
df1['DIESEL LOCO DECOUPLING DURATION'] = pd.to_numeric(df1['DIESEL LOCO DECOUPLING DURATION'], errors='coerce')
df1['RAKE NO.'] = pd.to_numeric(df1['RAKE NO.'], errors='coerce')
df1['RAKE TO'] =pd.to_numeric(df1['RAKE TO'], errors='coerce')
df1['COMMODITY'] = pd.to_numeric(df1['COMMODITY'], errors='coerce')
df1

,DATE,Month,RAKE NO.,RAKE TO,COMMODITY,IMWB READING,TOTAL WAGONS LOADED,SICK WAGONS,ELECTRIC LOCO DECOUPLING (TO),DIESEL LOCO COUPLING (TO),...,ACTUAL TIME TAKEN FOR LOADING (Mins),TRIMMING DURATION AT THE TIME OF LOADING,TIME TAKEN FOR TRACK CLEANING,RLS FAULT DURATION,MANUAL LOADING DURATION,TIME TAKEN FOR WAGON REPAIR,TIME TAKEN FOR FILLING UP THE SILO,Load per wagon,RAKE TO NUM,COMMODITY TO NUM
0,NaN,5,16,NaN,NaN,3373.54,59,0.0,0.53,0.53,...,57.0,0.00,0.02,0.00,0.00,0.02,0.02,57.18,41,43
1,NaN,5,17,NaN,NaN,3468.67,59,0.0,0.22,0.25,...,35.0,0.01,0.00,0.13,0.00,0.03,0.07,58.79,41,45
2,NaN,5,18,NaN,NaN,3341.74,58,1.0,0.42,0.42,...,7.0,0.00,0.03,0.00,0.00,0.00,0.00,57.62,41,45
3,NaN,5,19,NaN,NaN,3364.20,59,0.0,0.64,0.65,...,3.0,0.00,0.02,0.01,0.08,0.00,0.05,57.02,41,46
4,NaN,5,1,NaN,NaN,3391.11,57,2.0,0.60,0.61,...,38.0,0.00,0.00,0.00,0.00,0.08,0.02,59.49,12,47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1512,NaN,5,13,NaN,NaN,3660.24,57,2.0,0.59,0.59,...,NaN,0.00,0.00,0.00,0.00,0.00,0.01,64.21,3,250
1513,NaN,5,3,NaN,NaN,3212.83,57,2.0,0.67,0.67,...,NaN,0.00,0.00,0.00,0.15,0.00,0.02,56.37,51,192
1514,NaN,5,1,NaN,NaN,3458.44,59,0.0,0.71,0.72,...,NaN,0.00,0.00,0.00,0.21,0.00,0.00,58.62,4,192
1515,NaN,5,37,NaN,NaN,3408.65,56,3.0,0.74,0.75,...,NaN,0.00,0.00,0.00,0.00,0.00,0.03,60.87,41,157
1516,NaN,5,14,NaN,NaN,3662.81,59,0.0,0.83,0.83,...,NaN,0.00,0.00,0.00,0.00,0.00,0.01,62.08,3,250

In [88]:
print(df1.dtypes)

Month                                          int64
RAKE NO.                                       int64
RAKE TO                                      float64
COMMODITY                                    float64
IMWB READING                                 float64
TOTAL WAGONS LOADED                            int64
SICK WAGONS                                  float64
ELECTRIC LOCO DECOUPLING (TO)                float64
DIESEL LOCO COUPLING (TO)                    float64
DIESEL LOCO COUPLING DURATION                float64
HAULING START                                float64
TIME DELAY TO START HAULING                  float64
ARRIVAL AT WCS/IMWB                          float64
duration to wcs                              float64
WAGON CLEANING START                         float64
WAGON CLEANING COMPLETE                      float64
WAGON CLEANING DURATION                      float64
SURVEYOR CLEARANCE START                     float64
SURVEYOR CLEARANCE COMPLETE                  float64
SURVEYOR CLEARANCE DURATION                  float64
RAKE PLACEMENT AT RLS/IMWB                   float64
RAKE PLACEMENT DURATION AT RLS               float64
RAKE LOADING START                           float64
TIME DELAY TO START LOADING                  float64
RAKE LOADING FINISH                          float64
RAKE LOADING DURATION                        float64
TRIMMING START                               float64
TRIMMING COMPLETE                            float64
TRIMMING DURATION                            float64
ARRIVAL AT IMWB                              float64
ARRIVAL AT DTY                               float64
TIME TAKEN FROM IMWB TO DTY                  float64
TIME TAKEN FROM IMWB TO DTY (Hrs)            float64
TIME TAKEN FROM IMWB TO DTY (Min)            float64
DIESEL LOCO DECOUPLING (FROM)                float64
DIESEL LOCO DECOUPLING DURATION              float64
TOTAL TURNAROUND TIME                        float64
TOTAL TURNAROUND TIME (Hrs)                  float64
TOTAL TURNAROUND TIME (Mins)                 float64
ACTUAL TIME TAKEN FOR LOADING                float64
ACTUAL TIME TAKEN FOR LOADING (Hrs)          float64
ACTUAL TIME TAKEN FOR LOADING (Mins)         float64
TRIMMING DURATION AT THE TIME OF LOADING     float64
TIME TAKEN FOR TRACK CLEANING                float64
RLS FAULT DURATION                           float64
MANUAL LOADING DURATION                      float64
TIME TAKEN FOR WAGON REPAIR                  float64
TIME TAKEN FOR FILLING UP THE SILO           float64
Load per wagon                               float64
RAKE TO NUM                                    int32
COMMODITY TO NUM                               int32
dtype: object

In [84]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [85]:
df1.columns

Index(['DATE', 'Month', 'RAKE NO.', 'RAKE TO', 'COMMODITY', 'IMWB READING',
       'TOTAL WAGONS LOADED', 'SICK WAGONS', 'ELECTRIC LOCO DECOUPLING (TO) ',
       'DIESEL LOCO COUPLING (TO)', 'DIESEL LOCO COUPLING DURATION',
       'HAULING START', 'TIME DELAY TO START HAULING', 'ARRIVAL AT WCS/IMWB',
       'duration to wcs', 'WAGON CLEANING START', 'WAGON CLEANING COMPLETE',
       'WAGON CLEANING DURATION', 'SURVEYOR CLEARANCE START',
       'SURVEYOR CLEARANCE COMPLETE', 'SURVEYOR CLEARANCE DURATION',
       'RAKE PLACEMENT AT RLS/IMWB', 'RAKE PLACEMENT DURATION AT RLS',
       'RAKE LOADING START', 'TIME DELAY TO START LOADING',
       'RAKE LOADING FINISH', 'RAKE LOADING DURATION', 'TRIMMING START  ',
       'TRIMMING COMPLETE', 'TRIMMING DURATION', 'ARRIVAL AT IMWB',
       'ARRIVAL AT DTY', 'TIME TAKEN FROM IMWB TO DTY',
       'TIME TAKEN FROM IMWB TO DTY (Hrs)',
       'TIME TAKEN FROM IMWB TO DTY (Min)', 'DIESEL LOCO DECOUPLING (FROM)',
       'DIESEL LOCO DECOUPLING DURATION', 'TOTAL TURNAROUND TIME',
       'TOTAL TURNAROUND TIME (Hrs)', 'TOTAL TURNAROUND TIME (Mins)',
       'ACTUAL TIME TAKEN FOR LOADING', 'ACTUAL TIME TAKEN FOR LOADING (Hrs)',
       'ACTUAL TIME TAKEN FOR LOADING (Mins)',
       'TRIMMING DURATION AT THE TIME OF LOADING ',
       'TIME TAKEN FOR TRACK CLEANING', 'RLS FAULT DURATION',
       'MANUAL LOADING DURATION', 'TIME TAKEN FOR WAGON REPAIR',
       'TIME TAKEN FOR FILLING UP THE SILO', 'Load per wagon', 'RAKE TO NUM',
       'COMMODITY TO NUM'],
      dtype='object')

In [86]:
df1.head()

,DATE,Month,RAKE NO.,RAKE TO,COMMODITY,IMWB READING,TOTAL WAGONS LOADED,SICK WAGONS,ELECTRIC LOCO DECOUPLING (TO),DIESEL LOCO COUPLING (TO),...,ACTUAL TIME TAKEN FOR LOADING (Mins),TRIMMING DURATION AT THE TIME OF LOADING,TIME TAKEN FOR TRACK CLEANING,RLS FAULT DURATION,MANUAL LOADING DURATION,TIME TAKEN FOR WAGON REPAIR,TIME TAKEN FOR FILLING UP THE SILO,Load per wagon,RAKE TO NUM,COMMODITY TO NUM
0,NaN,5,16,NaN,NaN,3373.54,59,0.0,0.53,0.53,...,57.0,0.00,0.02,0.00,0.00,0.02,0.02,57.18,41,43
1,NaN,5,17,NaN,NaN,3468.67,59,0.0,0.22,0.25,...,35.0,0.01,0.00,0.13,0.00,0.03,0.07,58.79,41,45
2,NaN,5,18,NaN,NaN,3341.74,58,1.0,0.42,0.42,...,7.0,0.00,0.03,0.00,0.00,0.00,0.00,57.62,41,45
3,NaN,5,19,NaN,NaN,3364.20,59,0.0,0.64,0.65,...,3.0,0.00,0.02,0.01,0.08,0.00,0.05,57.02,41,46
4,NaN,5,1,NaN,NaN,3391.11,57,2.0,0.60,0.61,...,38.0,0.00,0.00,0.00,0.00,0.08,0.02,59.49,12,47

In [89]:

df1 = df1.drop('DATE', axis=1)  
df1= df1.drop('RAKE NO.', axis=1)  
df1= df1.drop('RAKE TO', axis=1)  
df1= df1.drop('COMMODITY', axis=1)  
#df1= df1.drop('TRIMMING DURATION AT THE TIME OF LOADING ', axis=1)
df1 = df1.drop('TIME TAKEN FOR TRACK CLEANING', axis=1)
df1= df1.drop('RLS FAULT DURATION', axis=1)
df1 = df1.drop('MANUAL LOADING DURATION', axis=1)
df1= df1.drop('TIME TAKEN FOR WAGON REPAIR', axis=1)
df1 = df1.drop('TIME TAKEN FOR FILLING UP THE SILO', axis=1)

df1 =df1.drop('TRIMMING COMPLETE',axis=1)
#df1 =df1.drop('TRIMMING START',axis=1)
df1 =df1.drop('DIESEL LOCO DECOUPLING (TO)',axis=1)
df1 =df1.drop('ELECTRIC LOCO DECOUPLING (FROM)',axis=1)
df1 =df1.drop('ELECTRIC LOCO DECOUPLING (TO)',axis=1)
#df1 =df1.drop('WAGON CLEANING START',axis=1)
#df1 =df1.drop('RAKE LOADING START',axis=1)
#df1 =df1.drop('ARRIVAL AT DTY',axis=1)
#df1 =df1.drop('ARRIVAL AT IMWB',axis=1)
#df1 =df1.drop('SURVEYOR CLEARANCE COMPLETE',axis=1)
#df1 =df1.drop('RAKE LOADING FINISH',axis=1)
#df1 =df1.drop('HAULING START',axis=1)
#df1 =df1.drop('DIESEL LOCO DECOUPLING (FROM)',axis=1)
#df1 =df1.drop('DIESEL LOCO COUPLING (TO)',axis=1)
#df1 =df1.drop('SURVEYOR CLEARANCE START',axis=1)
#df1 =df1.drop('WAGON CLEANING COMPLETE',axis=1)
# Remove rows with any missing values
df1 = df1.dropna()

# Remove columns with any missing values
df1 = df1.dropna(axis=1)
X = df1.drop('IMWB READING', axis=1)

Y=df1['IMWB READING']

KeyError: "['DATE'] not found in axis"

In [ ]:
X

In [ ]:
print(X.dtypes)

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [ ]:
model = LinearRegression()
model.fit(X_train, Y_train)

In [ ]:
model.score(X_test,Y_test)

In [ ]:
from sklearn.model_selection import cross_val_score
cv_scores = cross_val_score(model, X_train, Y_train, cv=5)
print('Cross-Validation Scores:', cv_scores)

In [ ]:
coefficients = pd.DataFrame({'Feature': X.columns, 'Coefficient': model.coef_})
coefficients['Absolute_Coefficient'] = coefficients['Coefficient'].abs()
coefficients = coefficients.sort_values(by='Absolute_Coefficient', ascending=False)
print(coefficients)

In [ ]:

X1=df1.drop('TOTAL TURNAROUND TIME',axis=1)

Y1=df1['TOTAL TURNAROUND TIME']
X1_train, X1_test, Y1_train, Y1_test = train_test_split(X1, Y1, test_size=0.2)
model5 = LinearRegression()
model5.fit(X1_train, Y1_train)
model5.score(X1_test,Y1_test)

In [ ]:
from sklearn.model_selection import cross_val_score
cv_scores2 = cross_val_score(model, X1_train, Y1_train, cv=5)
print('Cross-Validation Scores:', cv_scores2)

In [ ]:
coefficients1 = pd.DataFrame({'Feature': X1.columns, 'Coefficient': model.coef_})
coefficients1['Absolute_Coefficient'] = coefficients['Coefficient'].abs()
coefficients1 = coefficients1.sort_values(by='Absolute_Coefficient', ascending=False)
print(coefficients1)

In [ ]:
 import matplotlib.pyplot as plt
 import seaborn as sns

# Concatenate X1 and Y1 dataframes
 df = pd.concat([X1, Y1], axis=1)

 #Plot scatter plots for each feature against the output column
 for feature in X1.columns:
     plt.figure(figsize=(8, 6))
     sns.scatterplot(data=df, x=feature, y='TOTAL TURNAROUND TIME')
     plt.title(f'Scatter Plot of {feature} vs TOTAL TURNAROUND TIME')
     plt.xlabel(feature)
     plt.ylabel('TOTAL TURNAROUND TIME')
     plt.show()

# Plot histograms for each feature
# for feature in X.columns:
    # plt.figure(figsize=(8, 6))
    # sns.histplot(df[feature], kde=True)
    # plt.title(f'Histogram of {feature}')
    # plt.xlabel(feature)
    # plt.ylabel('Frequency')
    # plt.show()

# Calculate correlation matrix
# corr_matrix = df.corr()

# Plot correlation matrix heatmap
# plt.figure(figsize=(12, 10))
# sns.heatmap(corr_matrix, annot=True, cmap='coolwarm', fmt=".2f")
# plt.title('Correlation Matrix')
# plt.show()

In [ ]:
from sklearn.tree import DecisionTreeRegressor
model6 = DecisionTreeRegressor()
model6.fit(X1_train, Y1_train)

# Making predictions on the test set
y_pred = model6.predict(X1_test)

# Evaluating the model
mse = mean_squared_error(Y1_test, y_pred)
print("Mean Squared Error:", mse)

In [ ]:
# import matplotlib.pyplot as plt
# import seaborn as sns

# Concatenate X and Y dataframes
# df = pd.concat([X, Y], axis=1)

# Plot scatter plots for each feature against the output column
# for feature in X.columns:
    # plt.figure(figsize=(8, 6))
    # sns.scatterplot(data=df, x=feature, y='IMWB READING')
    # plt.title(f'Scatter Plot of {feature} vs IMWB READING')
    # plt.xlabel(feature)
    # plt.ylabel('IMWB READING')
    # plt.show()

# Plot histograms for each feature
# for feature in X.columns:
    # plt.figure(figsize=(8, 6))
    # sns.histplot(df[feature], kde=True)
    # plt.title(f'Histogram of {feature}')
    # plt.xlabel(feature)
    # plt.ylabel('Frequency')
    # plt.show()

# Calculate correlation matrix
# corr_matrix = df.corr()

# Plot correlation matrix heatmap
# plt.figure(figsize=(12, 10))
# sns.heatmap(corr_matrix, annot=True, cmap='coolwarm', fmt=".2f")
# plt.title('Correlation Matrix')
# plt.show()

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

# Initialize the models
linear_model = LinearRegression()
lasso_model = Lasso(alpha=0.1)  # Adjust the value of alpha as needed
ridge_model = Ridge(alpha=0.1)  # Adjust the value of alpha as needed
tree_model = DecisionTreeRegressor()

# Fit the models on the training data
linear_model.fit(X_train, y_train)
lasso_model.fit(X_train, y_train)
ridge_model.fit(X_train, y_train)
tree_model.fit(X_train, y_train)

# Make predictions on the testing data
linear_predictions = linear_model.predict(X_test)
lasso_predictions = lasso_model.predict(X_test)
ridge_predictions = ridge_model.predict(X_test)
tree_predictions = tree_model.predict(X_test)

# Calculate R^2 scores for each model
linear_score = r2_score(y_test, linear_predictions)
lasso_score = r2_score(y_test, lasso_predictions)
ridge_score = r2_score(y_test, ridge_predictions)
tree_score = r2_score(y_test, tree_predictions)

print("Linear Regression R^2 Score:", linear_score)
print("Lasso Regression R^2 Score:", lasso_score)
print("Ridge Regression R^2 Score:", ridge_score)
print("Decision Tree Regression R^2 Score:", tree_score)

In [ ]:
import numpy as np

# Calculate Mean Absolute Percentage Error (MAPE)
def calculate_mape(y_true, y_pred):
    mape = np.mean(np.abs((y_true - y_pred) / y_true)) * 100
    return mape

# Calculate MAPE for each model
linear_mape = calculate_mape(y_test, linear_predictions)
lasso_mape = calculate_mape(y_test, lasso_predictions)
ridge_mape = calculate_mape(y_test, ridge_predictions)
tree_mape = calculate_mape(y_test, tree_predictions)

print("Linear Regression MAPE:", linear_mape)
print("Lasso Regression MAPE:", lasso_mape)
print("Ridge Regression MAPE:", ridge_mape)
print("Decision Tree Regression MAPE:", tree_mape)

In [ ]:
 import matplotlib.pyplot as plt
 import seaborn as sns

# Concatenate X1 and Y1 dataframes
 df = pd.concat([X, Y], axis=1)

 #Plot scatter plots for each feature against the output column
 for feature in X.columns:
     plt.figure(figsize=(8, 6))
     sns.scatterplot(data=df, x=feature, y='IMWB READING')
     plt.title(f'Scatter Plot of {feature} vs IMWB READING')
     plt.xlabel(feature)
     plt.ylabel('IMWB READING')
     plt.show()